.background {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/background.webp) ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1400px;
  }

.header__bloc {
    display: flex;
}
.header-logo {
    width: 180px;
    padding-top: 40px;
    padding-left: 20px;
}
.header__wrapper {
    display: none;
}

.header-section {
    padding-top: 80px;
}

.header__link {
    padding-top: 50px;
    padding-right: 30px;
    text-decoration: none;
    font-size: var(--text-font);
    color: white;
}
.social-icons {
    color: white;
    width: 100px;
    display: flex;
}

.social-icon img {
    filter: brightness(0) invert(1);
    border: 1px solid white;
  }  

.social-icon{
    margin-right: 10px;
  }
.header-list__icons {
    width: 1.28rem;
    margin-right: 0.7rem;
}
.header-list__species img {
    filter: brightness(0) invert(1);
}

.header-section {
    color: white;
    padding-left: 20px;
}

.divider-element {
    height: 2px;
    width: 80%;
    background-color:white;
    margin-top: 15px;
}

.header-text {
    padding-top: 40px;
    font-size: 18px;
    line-height: 1.7;
    font-family: var(--text-font);
}

.header-button {
    background-color: #fc4500;
    color: white;
    font-size: 18px;
    letter-spacing: 0.1px;
    padding: 20px 50px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
    border: 0;
}

.header-list {
    padding-top: 50px;
    font-size: 14px;
    line-height: 1.6;
    font-family: var(--text-font);
    font-weight: 600;
}

.header-list__species {
    padding-top: 60px;
}

.flex-element {
    display: flex;
    font-size: 12px;
    padding-bottom: 15px;
}

@media (min-width: 991px) {
    .header__wrapper {
        display: flex;
        padding-left: 300px;
        padding-top: 50px;
        padding-bottom: 20px;
    }
}